USE [master]
GO
/****** Object:  Database [HoaDonDatabase]    Script Date: 11/17/2023 2:54:56 PM ******/
CREATE DATABASE [HoaDonDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HoaDonDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DINHLUONG\MSSQL\DATA\HoaDonDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HoaDonDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DINHLUONG\MSSQL\DATA\HoaDonDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HoaDonDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HoaDonDatabase]
GO
/****** Object:  Table [dbo].[DonViDo]    Script Date: 11/17/2023 2:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViDo](
	[NameUoM] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NameUoM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 11/17/2023 2:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[MaSP] [varchar](10) NULL,
	[DVD] [nvarchar](50) NULL,
	[PriceValue] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/17/2023 2:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [varchar](10) NOT NULL,
	[NameProduct] [nvarchar](max) NULL,
	[Supplier] [varchar](20) NULL,
	[UoM] [nvarchar](50) NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/17/2023 2:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [varchar](20) NOT NULL,
	[NameSupplier] [nvarchar](max) NULL,
	[AddressSupplier] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD FOREIGN KEY([DVD])
REFERENCES [dbo].[DonViDo] ([NameUoM])
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([Supplier])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([Price])
REFERENCES [dbo].[Price] ([PriceValue])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([UoM])
REFERENCES [dbo].[DonViDo] ([NameUoM])
GO
USE [master]
GO
